<%= form_with(model: home_widget, local: true) do |form| %>
  <% if home_widget.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(home_widget.errors.count, "error") %> prohibited this home_widget from being saved:</h2>

      <ul>
      <% home_widget.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_area :name %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description %>
  </div>

  <div class="field">
    <%= form.label :color %>
    <%= form.text_area :color %>
  </div>

  <div class="field">
    <%= form.label :default_visibility %>
    <%= form.check_box :default_visibility %>
  </div>

  <div class="field">
    <%= form.label :link %>
    <%= form.text_area :link %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
